# Data
/data/

# Models
/models/

# Environments and configs
.env
.envrc
.venv/
.python-version
.ipynb_checkpoints/

# Python artifacts
__pycache__/
*.py[cod]
*.class
*.so

# Tools and caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# OS and Editor files
.DS_Store
*.swp
*.swo
.vscode/
*.code-workspace
CLAUDE.md
# Django dev SQLite
web/backend/db.sqlite3
