metadata:
  name: {func_name}
  namespace: {namespace}
  annotations:
    name: {annotation_name}
    type: detector
    spec: |
{spec_block}

spec:
  description: {description}
  runtime: 'python:3.10'
  handler: main:handler
  eventTimeout: 30s

  build:
    image: {image_name}
    baseImage: ubuntu:22.04

    directives:
      preCopy:
        - kind: ENV
          value: DEBIAN_FRONTEND=noninteractive
        # Comment out for CPU
        - kind: ENV
          value: NVIDIA_VISIBLE_DEVICES=all NVIDIA_DRIVER_CAPABILITIES=compute,utility
        - kind: RUN
          value: |-
            apt-get update \
            && apt-get install -y --no-install-recommends \
              python-is-python3 \
              python3 \
              python3-pip \
              ffmpeg \
              libsm6 \
              libxext6 \
            && rm -rf /var/lib/apt/lists/*
        - kind: RUN
          value: pip3 install ultralytics --no-cache-dir
        - kind: WORKDIR
          value: /opt/nuclio

  triggers:
    myHttpTrigger:
      numWorkers: 1
      kind: 'http'
      workerAvailabilityTimeoutMilliseconds: 10000
      attributes:
        maxRequestBodySize: 33554432 # 32MB

  # Comment out for CPU
  resources:
    limits:
      nvidia.com/gpu: 1

  platform:
    attributes:
      restartPolicy:
        name: always
        maximumRetryCount: 3
      mountMode: volume

  volumes:
    - volume:
        name: model-weights
        hostPath:
          path: {weights_path}
      volumeMount:
        name: model-weights
        mountPath: /opt/nuclio/best.pt
